@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-size: 22px;
}
body {
    font-family: 'lato', sans-serif;
    background-color: #8eced9;
}
.container {
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

}
select{
    width: 100%;
}
.content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding: 3rem 8rem;
    box-shadow: 12px 7px 7px rgba(85, 85, 85, 0.64);
}
h1{
    margin-bottom: 2rem;
    font-size: 27px;
}
tr{
    padding-bottom:1rem;
}
td{
    padding-right: 2rem;
    text-align: left;
}
.action{
     color: black;
     background-color: #8eced9;
     background-repeat:no-repeat;
     border: none;
     border-radius: 15px;
     cursor:pointer;
     overflow: hidden;
     transition-duration: 0.4s;
     font-weight: bold;
     font-size: large;
     padding: 0.3em;
     width: 70%;
 }
.action:hover{
    color: #ffffff;
    background-color: #006D77;
    border-radius: 20px;
    transform: scale(1.2);
}
.logout{
    color:black;
    background-color: #fdc4c4;
    background-repeat:no-repeat;
    border: none;
    border-radius: 15px;
    cursor:pointer;
    overflow: hidden;
    transition-duration: 0.4s;
    font-weight: bold;
    font-size: large;
    padding: 0.3em;
    margin: 0.5em;
    width: 50%;
}
.logout:hover{
    color: #ffffff;
    background-color: #fc7f7f;
    border-radius: 20px;
    transform: scale(1.2);
}
.error{
    color: red;
    font-size: 22px;
}
