body {
    font-family: 'lato', sans-serif;
}
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-size: 26px;
    margin-bottom: 1.5em;
}
#p{
    margin-top: 4em;
}

h1{
    margin-right: 7.5em;
    width: 13em;
}


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, rgba(131, 197, 190, 0.89), rgba(0, 109, 119, 0.75));
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.5em;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}
.head{
    display: inline-flex;
    flex-direction: row;
}
.logout{
    color:black;
    background-color: #fdc4c4;
    background-repeat:no-repeat;
    border: none;
    border-radius: 15px;
    cursor:pointer;
    overflow: hidden;
    transition-duration: 0.4s;
    font-weight: bold;
    font-size: large;
    padding: 0.3em;
    margin:2.5em;
}
.logout:hover{
    color: #ffffff;
    background-color: #fc7f7f;
    border-radius: 20px;
    transform: scale(1.2);
}
.menu{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    transition-duration: 0.4s;
    color: white;
    font-weight: bold;
    font-size: medium;
    padding-top:0.8em;
    padding-bottom: 0.8em;
    margin: 1em;
    margin-top: 0.8em;
    width: 10.5em;
    border-radius: 20px;
    align-content: center;
    align-items: center;
}
.menu:hover {
    background-color: #ffffff;
    color: #000000;
    transform: scale(1.2);
}
.action{
    color:black;
    background-color: #8eced9;
    background-repeat:no-repeat;
    border: none;
    border-radius: 15px;
    cursor:pointer;
    overflow: hidden;
    transition-duration: 0.4s;
    font-weight: bold;
    font-size: large;
    padding: 0.3em;

}
.error{
    color: red;
}
img{
    border-radius: 50%;
    width: 7em;
    margin-left:2.7em;
    margin-bottom: 0.5em;
    margin-top:2em;

}
.username{
    margin-left:4em;
    color: #ffffff;
    margin-bottom: 1.5em;
}
.action:hover{
    color: #ffffff;
    background-color: #006D77;
    border-radius: 20px;
    transform: scale(1.2);
}
.number:focus{
    background-color: #fdc4c4;
    font-weight: bold;
}
.main {
    margin-left: 230px; /* Same as the width of the sidenav */
    font-size: 1.2em; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
table{

    border-collapse:collapse;
    margin-bottom: 3em;
}
tr{
    width: auto;
}
tr:hover{
    background-color: #EDF6F9;
}
td{
    text-align: center;

}
th{
    padding-right: 2em;
    text-transform: uppercase;
    text-align: center;
}
.col-1 {
    flex-basis: 10%;
}
.col-2 {
    flex-basis: 40%;
}
.col-3 {
    flex-basis: 25%;
}
.col-4 {
    flex-basis: 25%;
}
#settings{


}

