<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/loginStyle.css" />
</head>
<body>

<div class="container">
    <div class="login-content">
        <form action="${loginUrl}" method="post">
        <h2 class="title">Welcome</h2>
            <c:if test="${param.error != null}">
                <p>
                    Invalid username and password.
                </p>
                <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                     <h5>Username</h5>
                     <input required="required" type="text" class="input" id="username" name="username" />
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                     <h5>Password</h5>
                    <input required="required" type="password" class="input" id="password" name="password"/>
                </div>
            </div>
            <div>
                 <div th:switch="${check}">
                    <p th:case="false" style="font-weight: bold; color:#860000;background-color: #e39999; padding: 1em; border-radius: 20px; margin-top:20px">Incorrect username or password!</p>
                 </div>
            </div>
            <input id="submit"  class="btn" type="submit" value="Login" />
            <a href="#">Forgot Password?</a>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/css/js/Login.js"></script>
</body>
</html>
