<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/add.css"/>
    <script>
        function check() {
             const pass1 = document.getElementById("pass1").value;
             const pass2 = document.getElementById("pass2").value;
             if(pass1 !=  pass2) {
                alert('Error, cant do that');
                 document.getElementById("save").disabled = true;
                 document.getElementById("error").style.display = "block";
            }
            else{
                 document.getElementById("save").disabled = false;
                 document.getElementById("error").style.display = "none";
             }
        }
    </script>
</head>
<body>
<div class="container">

    <div class="content">

        <form action="#" th:action="@{/saveUser}" th:object="${user}" method="post" name="test">
            <table>
                <tr>
                    <td colspan="2"> <h2>Create a new User</h2></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <select id="type" name="type">
                            <option value="1" >Student</option>
                            <option value="2">Assistent</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" th:field="*{username}" autofocus="autofocus" required="required"/></td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><input type="text" th:field="*{lastName}" required="required"/></td>
                </tr>
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" th:field="*{firstName}" required="required"/></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="text" id="pass1" th:field="*{password}" required="required"/></td>
                </tr>

                <tr>
                    <td>Confirm Password:</td>
                    <td><input type="text"  onblur="check()" id="pass2" required="required"/></td>
                </tr>
                <tr id="error" style="display: none; font-weight: bold; color:#860000">
                    <td>
                        <p></p>
                    </td>
                    <td>
                        <p style=" font-size: 20px">Passwords are not equal!</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><input  id="save" class="btn"  type="submit" value="Save"/></td>

                </tr>
                <tr>
                    <td colspan="2"> <input action="action"  class="btn"  type="button" onclick="history.go(-1);" value="back"/></td>
                </tr>
            </table>
        </form>

    </div>
    </div>
</body>
</html>