<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<h2>Welcome Student</h2>
<p th:text="${user.toString()}"></p>

<table>
<thead>
<tr>
    <th>ProjectName</th>
    <th>Description</th>
    <th>Deadline</th>
    <th>ExamDate</th>
    <th>leader</th>
</tr>
</thead>
<tbody>
<tr th:each="project : ${projects}">
    <td th:text="${project.getName()}"></td>
    <td th:text="${project.getDescription()}"></td>
    <td th:text="${project.getDeadline()}"></td>
    <td th:text="${project.getExamDate()}"></td>
    <td th:text="${project.getLeader().getLastName()+ project.getLeader().getFirstName()}"></td>
    <td><form action="#" th:action="@{/deleteProject/{id}(id=${project.id})}" th:object="${project}" method="post" >
        <p> <input  type="submit"   value="submit"></p>
    </form>
    </td>
</tr>
</tbody>
</table>

<form action="/logout" method="get">
    <input id="submit" type="submit" value="Logout" />
</form>

<form action="/findOpenProject" method="get">
    <input id="submit1" type="submit" value="Find new project" />
</form>
</body>
</html>